@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
a, p, h2, h3, button {
	font-family: 'Poppins', sans-serif;
}

nav {
	background-color: #137e6d;
}

.navbar-top {
	color: #137e6d;
	border-style: none;
	border-radius: 7px;
}

.jumbotron {
	padding-top: 5rem;
	padding-bottom: 2rem;
	background-color: #dbf4d8;
}

.jumbotron > .container-fluid {
	padding-left: 2rem;
}

.angka-discount {
	height: 150px;
	width: 150px;
	border: solid;
	border-radius: 50%;
	text-align: center;
	font-size: 50px;
	padding-top: 35px;
	margin-left: 15rem;
	margin-top: -60px;
	position: absolute;
}

.klik-disini {
	background-color: #137e6d;
	border-style: none;
	border-radius: 7px;
	width: 120px;
}

.design {
	margin-top: 3rem;
	background-color: white;
	color:#137e6d;
}

.design > .container-fluid {
	padding-left: 2rem;
}

.design-lainnya {
	margin-top: -60px;
	margin-right: 4rem;

}

.design-lainnya-1 {
	background-color: #137e6d;
	border-style: none;
	border-radius: 7px;
	width: 170px;
}

.cd {
	margin-top: 1rem;
}

.card {
	height: 300px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.30) 1.95px 1.95px 2.6px;
}

.card > .card-body > .card-text > .btn {
	background-color: #137e6d;
	color: white;
	width: 120px;
	margin-top: 180px;
}

.fitur {
	margin-top: 5rem;
	background-color: #137e6d;
	color: white;
}

.fitur > .container-fluid {
	padding-left: 2rem;
}

.harga {
	padding-top: 3rem;
	background-color: #dbf4d8;
	color: #137e6d;
}
